## Disposition


- Brug af pandas til tabeldata - fortsat
- Variabeltransformation
- Introduktion til simple modelleringer i python


- Pandas genopfriskning
    - Inspicering
    - Subsetting
    - Rekodning
    - Nye variable
- Håndtering af kategoriske variable
- Simpel håndtering a missing (`dropna()`, `fillna()`) - `fillna()`methods: forwardfill: `ffill`, backwardfill: `bfill` - akse 0,1 alt efter række, koloone
- append (`.concat`) og merge (`.merge`) 
    - join (`join = `)
    - `on`, `left_on`, `right_on`
    - `how`, `outer`, `inner`, `left`, `right`
- `.groupby` (pyDSH, s.162)
- strings (pyDSH, s. 180-182)
- dummy-konvertering


Kenneth Stanford?


https://www.datacamp.com/community/tutorials/categorical-data
https://pbpython.com/categorical-encoding.html
https://pandas.pydata.org/pandas-docs/stable/user_guide/categorical.html

## [dan kategoriske variable og brug af crosstab]

## [øvelse: kategorisk variabel med brug af cut + crosstab]

## [tilføj data - hvordan?]

## [øvelse: tilføj data, fix kategorisk variabel, omdan kategorisk variabel til dummier, kør model]

In [4]:
money = pd.Series({'Lars': 30000, 'Mads': 40000, 'Kim':35000})
age = pd.Series({'Lars': 23, 'Mads': 30, 'Kim': 37})
data = pd.DataFrame({'money': money, 'age': age})

In [11]:
data.stack()

Lars  money    30000
      age         23
Mads  money    40000
      age         30
Kim   money    35000
      age         37
dtype: int64

In [9]:
data.iloc[1]

money    40000
age         30
Name: Mads, dtype: int64

In [141]:
cats = pd.Series(["big cat", "small cat", "medium cat", "stupid cat"])

In [143]:
cats.str.get_dummies()
#cat_df_flights_onehot = pd.get_dummies(cat_df_flights_onehot, columns=['carrier'], prefix = ['carrier'])

   big cat  medium cat  small cat  stupid cat
0        1           0          0           0
1        0           0          1           0
2        0           1          0           0
3        0           0          0           1

In [32]:
ess = pd.read_csv('https://github.com/CALDISS-AAU/workshop_python-intro/raw/master/data/ESS2014DK_subset.csv')

In [33]:
ess.head()

,idno,ppltrst,happy,cgtsday,alcfreq,height,weight,gndr,yrbrn
0,921018,6,9,10.0,2-3 times a month,178.0,64.0,Male,1990.0
1,921026,8,8,NaN,Several times a week,172.0,64.0,Female,1948.0
2,921034,8,8,NaN,Every day,176.0,87.0,Male,1957.0
3,921076,8,8,NaN,Several times a week,162.0,70.0,Female,1958.0
4,921084,5,8,NaN,Every day,175.0,80.0,Male,1936.0

In [34]:
ess.dtypes

idno         int64
ppltrst     object
happy       object
cgtsday    float64
alcfreq     object
height     float64
weight     float64
gndr        object
yrbrn      float64
dtype: object

In [35]:
ess['happy'] = ess['happy'].astype("category")
ess['happy'].value_counts()

8                    457
9                    446
Extremely happy      278
7                    170
6                     57
5                     43
3                     16
4                     12
2                     11
1                      5
Extremely unhappy      1
Name: happy, dtype: int64

In [47]:
ess['happy'].describe()

count     1496
unique      11
top          8
freq       457
Name: happy, dtype: object

In [59]:
ess['happy'].cat.categories

Index(['1', '2', '3', '4', '5', '6', '7', '8', '9', 'Extremely happy',
       'Extremely unhappy'],
      dtype='object')

In [61]:
ess['happy'].cat.codes.unique()

array([ 8,  7,  9,  3,  5,  6,  2,  4,  0,  1, -1, 10])

In [66]:
ess['happy_codes'] = ess['happy'].cat.codes
ess.loc[ess['happy'] == "Extremely unhappy", ['happy', 'happy_codes']]

                  happy  happy_codes
1091  Extremely unhappy           10

In [80]:
replace_map = {'happy': {'Extremely unhappy': 0, 'Extremely happy': 10}}
replace_map2 = {'Extremely unhappy': 0, 'Extremely happy': 10}
ess['happy_num'] = ess['happy'].replace(replace_map2)
ess.head()

,idno,ppltrst,happy,cgtsday,alcfreq,height,weight,gndr,yrbrn,happy_new,happy_codes,happy_num
0,921018,6,9,10.0,2-3 times a month,178.0,64.0,Male,1990.0,NaN,8,9
1,921026,8,8,NaN,Several times a week,172.0,64.0,Female,1948.0,NaN,7,8
2,921034,8,8,NaN,Every day,176.0,87.0,Male,1957.0,NaN,7,8
3,921076,8,8,NaN,Several times a week,162.0,70.0,Female,1958.0,NaN,7,8
4,921084,5,8,NaN,Every day,175.0,80.0,Male,1936.0,NaN,7,8

In [71]:
pd.crosstab(ess['happy'])

TypeError: crosstab() missing 1 required positional argument: 'index'

In [52]:
labels = cat_df_flights['carrier'].astype('category').cat.categories.tolist()
replace_map_comp = {'carrier' : {k: v for k,v in zip(labels,list(range(1,len(labels)+1)))}}

9    11
1     5
Name: happy_new, dtype: int64

In [39]:
#omskriv til øvelse med alder
df['group'] = pd.cut(df.value, range(0, 105, 10), right=False, labels=labels)

NameError: name 'df' is not defined